$charade: #272a37;
$tuna: #323644;
$gunPowder: #424657;

$white: white;
$black: black;

$grey: #9aa5b5;
$blue: #1d90f5;
$yellow: #fcb12a;
$green: #33b270;
$red: #b81a1a;

$lightGrey: #bdc4cf;
$lightBlue: #71b7f5;
$lightYellow: #f7cb7b;
$lightGreen: #7fcca5;

$darkGrey: #7f8997;
$darkBlue: #187fda;
$darkYellow: #d89924;
$darkGreen: #258654;

$veryLightBlue: #c7dff5;
$transparantBlue: #dce9f5;

$online: #8fe150;
$offline: $grey;

$small: 320px;
$mobile: 480px;
$tablet: 770px;
$desktop: 1025px;
$large: 1200px;
